<mat-card style="margin: 1rem; width: fit-content;">
    <table>
        <tr>
            <th style="padding-right: 1rem;">
                <button mat-raised-button (click)="clearCharacterStats()">Clear Stats</button>
            </th>
            <th *ngFor="let item of getHiraganaColumnTitles()">
                <mat-checkbox [disabled]="true">{{item}}</mat-checkbox>
            </th>
        </tr>
        <tr *ngFor="let rowTitle of getHiraganaRowTitles()">
            <td>
                <mat-checkbox
                    [checked]="checkHiraganaRowSelected(selectedCharacters$ | async, rowTitle)"
                    [indeterminate]="checkHiraganaRowPartial(selectedCharacters$ | async, rowTitle)"
                    (change)="toggleHiraganaRowSelected(rowTitle, $event)"
                >
                    {{rowTitle}}
                </mat-checkbox>
            </td>
            <td *ngFor="let item of getHiraganaRowCharacters(rowTitle)">
                <mat-card *ngIf="hiragana[rowTitle][item]">
                    <mat-checkbox
                        [checked]="checkHiraganaSelected(selectedCharacters$ | async, item)"
                        (change)="toggleHiraganaSelected(item)"
                    >
                        {{item}}  {{hiragana[rowTitle][item]}}
                    </mat-checkbox>
                    <br>
                    <app-character-score [character]="item"></app-character-score>
                </mat-card>
            </td>
        </tr>
    </table>
</mat-card>