<h1 class="query">
    <span>
        <!-- {{(hiraganaFlashQuery$ | async)?.english}} -->
        {{displayChallenge(hiraganaFlashQuery$ | async, challengeLanguage$ | async)}}
    </span>
    <button mat-mini-fab (click)="openSettingsDialog()">
        <mat-icon>settings</mat-icon>
    </button>
</h1>
<mat-card class="score">
    <h2>
        TOTAL CORRECT: {{correctGuesses$ | async}} / {{totalGuesses$ | async}} - {{calcPercent(correctGuesses$ | async, totalGuesses$ | async)}}%<br>
        LONGEST STREAK: {{highStreak$ | async}}<br>
        STREAK: {{correctStreak$ | async}}
        <button mat-mini-fab (click)="resetScore()" style="position: absolute; right: .5rem">
            <mat-icon>refresh</mat-icon>
        </button>
    </h2>
</mat-card>
<div [ngSwitch]="answerKeyboardType$ | async">
    <app-randomized-keyboard *ngSwitchCase="'Randomized'" (characterSelectedEvent)="selectChoice($event)"></app-randomized-keyboard>
    <app-handwriting-keyboard *ngSwitchCase="'Handwritten'" (hiraganaSelectedEvent)="selectHiragana($event)"></app-handwriting-keyboard>
    <app-structured-keyboard *ngSwitchDefault (characterSelectedEvent)="selectChoice($event)"></app-structured-keyboard>
</div>