<mat-card class="trainer">
  <h1 class="query">
    {{displayQuery(query)}}
  </h1>
  <div class="choices">
    <button
      mat-raised-button
      class="choice"
      *ngFor="let item of choices"
      (click)="selectChoice(item)"
    >
      {{displayChoice(item)}}
  </button>
  </div>

  <mat-expansion-panel >
<mat-expansion-panel-header>

<mat-panel-description>
Config
</mat-panel-description>
</mat-expansion-panel-header>
<mat-slide-toggle [(ngModel)]="randomizeChoiceOrder" (change)="shuffleChoices()">randomize choice order</mat-slide-toggle>

<mat-button-toggle-group (change)="changeLanguage($event)">
  <mat-button-toggle *ngFor="let language of languageOptions" value="{{language}}">{{language}}</mat-button-toggle>
</mat-button-toggle-group>
</mat-expansion-panel>

</mat-card>
<app-hiragana-flash-trainer></app-hiragana-flash-trainer>
<app-character-selector></app-character-selector>