<mat-card style="margin: 1rem; width: fit-content;">
    <table>
        <tr *ngFor="let item of getHiraganaRowTitles()">
            <!-- {{getHiraganaRowCharacters(item) | json}} -->
            <td *ngFor="let char of getHiraganaRowCharacters(item); trackBy:englishCharacter">
                    <button mat-raised-button
                        [disabled]="checkHiraganaSelected(selectedCharacters$ | async, char?.english)"
                    >
                        {{char?.japanese}}
                    </button>
            </td>
        </tr>
    </table>
</mat-card>