<mat-card class="keyboard-container">
    <table>
        <tr *ngFor="let item of getHiraganaRowTitles()">
            <!-- {{getHiraganaRowCharacters(item) | json}} -->
            <td *ngFor="let char of getHiraganaRowCharacters(item); trackBy:englishCharacter">
                    <button mat-raised-button
                        [disabled]="checkHiraganaSelected(selectEnabledHiragana$ | async, char)"
                        (click)="selectChoice(char)"
                    >
                        {{displayCharacter(char, challengeLanguage$ | async)}}
                    </button>
            </td>
        </tr>
    </table>
</mat-card>